.App-container {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-container {
  background: rgb(65, 61, 61);
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 25px;
}

.register-container h1 {
  text-align: center;
}
.register-input{
  display: block;
  border-radius: 4px;
  margin-top: 7px;
  /* margin: 10px; */
}

.register-container button {
  border-radius: 6px;
  cursor: pointer;
}

.register-container button:hover {
  background: rgb(23, 189, 39);
  transition: 0.2s;
}